<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="switcher-mobile">
    <%= render partial: "application/language_selector", locals: {mode: "mobile"} %>
  </div>
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text">
          <%= link_to t('shared.header.title'), root_path %>
        </em>
      </div>
      <button class="usa-menu-btn"><%= t('shared.header.menu') %></button>
    </div>
    <nav aria-label="<%= t('shared.header.primary') %>" class="usa-nav">
      <button class="usa-nav__close">
        <%= image_tag "@uswds/uswds/dist/img/usa-icons/close.svg", role: "img", alt: t('shared.header.close') %>
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <%= link_to "Example Nav Item", root_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
