<a class="usa-skipnav" href="#main-content"><%= t('shared.skip_link') %></a>

<section class="usa-banner site-banner" aria-label="<%= t('shared.banner.official_site') %>">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="banner__text-container grid-row">
          <div class="grid-col-auto">
            <%= image_tag "@uswds/uswds/dist/img/us_flag_small.png", alt: t('shared.banner.us_flag'), class: "usa-banner__header-flag" %>
          </div>
          <div class="grid-col-fill tablet:grid-col-auto">
            <p class="usa-banner__header-text">
              <%= t('shared.banner.official_site') %>
            </p>
            <p class="usa-banner__header-action" aria-hidden="true">
              <%= t('shared.banner.how') %>
            </p>
          </div>
          <button
            class="usa-accordion__button usa-banner__button"
            aria-expanded="false"
            aria-controls="gov-banner"
          >
            <span class="usa-banner__button-text"><%= t('shared.banner.how') %></span>
          </button>
        </div>
        <div class="switcher-desktop">
          <%= render partial: "application/language_selector", locals: {mode: "desktop"} %>
        </div>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <%= javascript_tag nonce: true do %>
        document.getElementById('gov-banner').setAttribute('hidden', '');
      <% end %>
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <%= image_tag "@uswds/uswds/dist/img/icon-dot-gov.svg", role: "img", "aria-hidden": true, class: "usa-banner__icon usa-media-block__img" %>
          <div class="usa-media-block__body">
            <strong><%= t('shared.banner.gov_heading') %></strong>
            <br> <%= t('shared.banner.gov_description_html') %>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <%= image_tag "@uswds/uswds/dist/img/icon-https.svg", role: "img", "aria-hidden": true, class: "usa-banner__icon usa-media-block__img" %>
          <div class="usa-media-block__body">
            <p>
              <strong><%= t('shared.banner.secure_heading') %></strong>
              <br> <%= t('shared.banner.secure_description_html', lock_icon: render('application/banner_lock_icon')) %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "application/demo_site_banner" if Rails.configuration.x.show_demo_banner %>
